.card {
  background-color: #fff;
  
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
  width: 250px;
}

.image1 {
  width: 15rem;
  height: 50%;
  border-radius: 4px;
}


.button1 {
bottom: 1px;

margin: 0 auto; /* Align button in the center */
}
