.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  background-color: #757b88; /* Update with the desired background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 400px;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Divides the popup into three sections */
}
.popup-pending {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  background-color: #757b88; /* Update with the desired background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 400px;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Divides the popup into three sections */
}
.pending-body {
  padding: 20px;
  text-align: center;
  font-size: larger;
}
.popup-donations {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  background-color: #757b88; /* Update with the desired background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 400px;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Divides the popup into three sections */
}
.popup-total {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  background-color: #757b88; /* Update with the desired background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 400px;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Divides the popup into three sections */
}
.popup-delete{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  background-color: #fcf9f8; /* Update with the desired background color */
  box-shadow: 0 0 10px rgba(247, 105, 105, 0.1);
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.confirm-delete{
  width: 10rem;
  height: 2rem;
  color: white;
  background-color: rgb(82, 121, 134);
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.confirm-delete:hover{
  background-color: rgb(151, 59, 59);
  cursor: pointer;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: black solid;
  border-radius: 5px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.button-container-pending {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 40rem;
}

.popup > div:nth-child(3) {
  text-align: center;
}
/* Button styles */
.button {
  width: 10rem;
  height: 2rem;
  padding: 1px 12px;
  border: none;
  cursor: pointer;
  display: inline-block;
  background-color: rgb(82, 121, 134); /* Update with the desired button color */
  color: #fff; /* Update with the desired text color */
  text-align: center;
}
.container {
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}


.body {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
}

h3 {
  font-size: 1.5em;
  color: black;
  margin-bottom: 5px;
}
p {
  color: black;
  margin-bottom: 10px;
}
.bottom-line {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
}