/* src/components/DonatePage.css */
.donate-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.donate-page h2 {
  color: #333;
  margin-bottom: 20px;
}

.donation-type-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.donation-type-button {
  padding: 10px 20px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  flex-grow: 1;
}

.donation-type-button:hover {
  background-color: #0056b3;
}

.donation-type-button.active {
  background-color: #18bc9c;
  transform: scale(1.05);
}

#paypal-button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
