/* src/components/WorldMap.css */
.world-map {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Center the map */
  background-color: #f0f8ff; /* Light blue background for the map container */
  border-radius: 8px; /* Slightly rounded corners */
  padding: 10px; /* Padding around the map */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
}

svg {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Slightly rounded corners */
}

text {
  font-size: 0.75rem;
  font-weight: bold;
  fill: #007ce6;
}
